.leaderboardContainer {
  border: 3px solid black;
  background-color: rgb(222, 184, 135, 0.8);
  width: 70%;
}

.leaderboardHTML {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: white;
}

.leaderBox {
  border: 2px solid black;
  padding: 0.25rem;
  margin: 0.5rem;
}

.leaderboard__titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
}

.leaderboard__title__rank,
.leaderboard__title__score,
.leaderboard__title__team {
  border-bottom: 2px solid black;
  text-align: center;
}

.leaderboard__title__rank {
  width: 12%;
  border-right: 2px solid black;
}

.leaderboard__title__team {
  width: 63%;
  border-bottom: 2px solid black;
}

.leaderboard__title__score {
  width: 25%;
  border-left: 2px solid black;
}

.leaderboard__columns {
  height: auto;
  display: flex;
  flex-direction: row;
}

.leaderboard__rank,
.leaderboard__score,
.leaderboard__team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard__rank {
  width: 12%;
  border-right: 2px solid black;
}
.leaderboard__team {
  width: 63%;
  display: flex;
}
.leaderboard__score {
  width: 25%;
  border-left: 2px solid black;
}

.leaderboard__columns p {
  margin: 1.5rem;
  font-size: 1.75rem;
}

.divider {
  min-width: 80%;
  border-bottom: 2px solid black;
}

.leaderboard__columns :last-child {
  border-bottom: 0px solid black;
}
}
